.loading {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-color: #e74c3c;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: 100px;
    height: 100px;
    color: #fff;
    fill: currentColor;
  }
}